# Ambientes Virtuais do Python
.venv/
venv/
*env/

# Cache e artefatos do Python
__pycache__/
*.pyc

# Arquivos de Segredo do Streamlit
.streamlit/secrets.toml

# Outros arquivos de segredo comuns
*.env
service_account_key.json

# Metadados do VS Code
.vscode/